.top {
  margin-left: 13px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: unset;
}

.icon {
  display: flex;
  gap: 20px;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: unset;
  border: none;
  transition: transform 0.3s ease;
  text-decoration: none;
}

button.rotated {
  transform: rotate(90deg);
}

button.mode {
  background-color: var(--bgHeader);
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  justify-content: center;
  text-align: center;
  border: 1px solid rgb(126, 126, 126);
  transition: 0.2s;
}

button.mode:hover {
  border: 1px solid rgba(126, 126, 126, 0.815);
}

.side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--subtitle);
  background-color: var(--blue);
  transition: width 0.3s ease;
  height: 640px;
  margin: 5px;
  border-radius: 15px;
  align-items: center;
  text-align: center;
  width: 70px;
}

.side.expanded {
  width: 190px;
}

.side .top-button,
.side .logout-button,
.side .middle-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side .middle-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.side.expanded .middle-buttons,
.side.side.expanded .logout-button {
  margin-top: 40px;
  display: inline;
  margin-left: 25px;
}
.side.side.expanded .logout-button {
  margin-left: 48px;
}

.side button {
  display: flex;
  gap: 10px;
  color: var(--primary);
  padding: 10px;
}

.side.expanded button {
  margin-bottom: 7px;
}

.side.expanded button.active {
  padding: 10px;
  padding-right: 48%;
}

.side button.active {
  margin-top: 10px;
  color: var(--blue);
  background-color: var(--secondary);
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  transition: 0.45s;
}

.side.expanded button span {
  display: block;
  margin-left: 10px;
}

button span {
  display: none;
}
.submenu-container {
  position: relative;
}
.side.expanded .submenu-container:hover .submenu {
  visibility: visible;
}

.submenu {
  visibility: hidden;

  position: absolute;
  top: 0;
  left: 175px;
  width: 200px;
  background-color: rgba(143, 143, 143, 0.705);
  border: #ddd;
  transition: 0.3s;
  z-index: 10;
}

.submenu-item {
  /* display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  background: none;
  border: none; */
  cursor: pointer;
}

.submenu-container button {
  width: 100%;
}

.side.expanded .logout-button {
  margin-bottom: 10px;
}

.side .logout-button {
  margin-bottom: 10px;
}

.iconclose {
  margin-top: 5px;
  font-size: 1.2rem;
  color: rgb(143, 29, 29);
  margin-left: 410px;
  transition: 0.3s;
}

.iconclose:hover {
  color: crimson;
  rotate: 180deg;
}

.iconsun {
  color: orange;
  margin-right: 0;
  border-color: rgb(253, 253, 253);
}

.iconmoon {
  color: rgb(255, 255, 255);
  margin-right: 0;
  border-color: rgb(99, 99, 96);
}

.iconNo {
  scale: 1;
}

.top .iconnof,
.top .iconprof {
  width: 27px;
  height: 27px;
  border-radius: 50%;
}

.top .iconnof {
  background-color: brown;
}

.top .iconprof {
  background-color: rgb(60, 110, 104);
}
